<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <.live_title><%= assigns[:page_title] || "Airbnb" %></.live_title>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <header class="p-4">
      <section class="container">
        <nav class="flex p-4">
          <a href="/" class="phx-logo w-1/3 flex items-center justify-start">
            <img src={Routes.static_path(@conn, "/images/airbnb-ar21.svg")} alt="Airbnb Clone"/>
          </a>
          <ul class="w-2/3 flex space-x-4 items-center justify-end">
            <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
              <li><%= link "LiveDashboard", to: Routes.live_dashboard_path(@conn, :home), class: "button-red" %></li>
            <% end %>
            <li><%= link "Properties", to: Routes.property_path(@conn, :index), class: "button-red" %></li>
            <li><%= link "Check In/Out", to: Routes.live_path(@conn, AirbnbWeb.PropertyCheckinLive), class: "button-red" %></li>
          </ul>
        </nav>
      </section>
    </header>
    <div class="p-4">
      <%= @inner_content %>
    </div>
  </body>
</html>
