<h1>Properties</h1>

<div :for={property <- @properties}>
  <div>
    <%= link property.title, to: Routes.property_path(@conn, :show, property) %>
    <%= link "Edit", to: Routes.property_path(@conn, :edit, property) %>
    <%= link "Delete", to: Routes.property_path(@conn, :delete, property), method: :delete %>
  </div>
</div>

<div>
  <%= link "Add new property", to: Routes.property_path(@conn, :new) %>
</div>
