<ul>
  <li><%= link "Property List", to: Routes.property_path(@conn, :index) %></li>
</ul>

<h1><%= @property.title %></h1>

<ul>
  <li>Travellers capacity: <%= @property.number_of_travellers %></li>
  <li>Bedrooms: <%= @property.number_of_bedrooms %></li>
  <li>Beds: <%= @property.number_of_beds %></li>
  <li>Bathrooms: <%= @property.number_of_bathrooms %></li>
</ul>
